# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*
playground
lmms-eval
scripts
!/scripts/
/scripts/*
!/scripts/v1_5/
/scripts/v1_5/*
!/scripts/v1_5/pretrain_backbone.sh
!/scripts/v1_5/finetune_backbone.sh

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
